<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<meta charset="UTF-8">
	<title>Publishers</title>
	<link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}"><link>
	<link rel="stylesheet" type="text/css" th:href="@{/resources/css/header.css}"><link>
</head>

<body>
	<div th:replace="fragments/header :: header">to be replaced</div>
	<script type="text/javascript" th:src="@{/resources/js/showAllPublishers.js}"></script>
</body>
</html>