<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<meta charset="UTF-8">
	<title>69th St</title>
	<link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}"><link>
	<link rel="stylesheet" type="text/css" th:href="@{/resources/css/weekStyle.css}"><link>
	<link rel="stylesheet" type="text/css" th:href="@{/resources/css/header.css}"><link>
</head>

<body>
	<div th:replace="fragments/header :: header">to be replaced</div>
	<div class = "divTable">
	</div>
	<script type="text/javascript" th:src="@{/resources/js/showWeek.js}"></script>
	<script th:inline="javascript">
	/*<![CDATA[*/
	var id = /*[[${weekId}]]*/ 'null'
	var currentPath2 = /*[[${#httpServletRequest.contextPath}]]*/ 'null'
	var currentPath1 = /*[[${#httpServletRequest.requestURI}]]*/ 'null'
			
	/*]]>*/
	console.log(currentPath2);
	console.log(currentPath2);
	showWeek(id, false);

	</script>

</body>
</html>