
		div.submitDiv {
			height:50px;
			position:relative;
			background-color: black;
			width:100%;
			margin-top:1%;
		}

		div.data3{
			display:table-cell;
        	text-align:center;
        	vertical-align:middle;
        }


        div.slotWrapper {
        	height:100%;
        }

		.row {
		display:table-row;
		width:100%;
		height:50px;
	}
	.name {
		display:inline-table;
		float:left;
		width:auto;
		height:50px;
	}

	.button {
		display:inline-table;
		height:50px;
		float:right;
	}